
.color-picker label{
  width: 40%;
  padding-top: 10%;
}

.color-picker .rc-color-picker-trigger{
  margin-left: -20px;
  height: 27px;
  margin-top: -17px;
  position: absolute;
}

@-moz-document url-prefix() {
    .color-picker .rc-color-picker-trigger{
      margin-top: 10px;
    }

    .badge{
      margin-top: 50px;
      margin-left: 5px;
    }
}
