body {
  color: $color4 !important;
}

#app{
  background-color: $color1;
  color: $color4;
  font-family: $font;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 900;
  margin-top:80px !important;
}


canvas{
  border-radius: 5px 5px;
  box-shadow: 5px 5px 5px $color2;
}

label{
  font-size: $label-size;
}

p{
  font-size: $p-size;
  text-transform: uppercase;
  font-size: 1.7em;
}

.form-control{
    box-shadow: 5px 5px 5px $color2 !important;
}

.label-danger{
  background-color: $color5 !important;
  box-shadow: 3px 3px 3px $color2 !important;
}

.badge{
  box-shadow: 5px 5px 5px $color2 !important;
  margin-left: 5px;
}
